# Ignore Python bytecode files
__pycache__/
frontend/__pycache__
schedule-tasks/__pycache__

# Ignore environment-specific files
.env

# Ignore database files
*.db

# Ignore system or hidden files
.DS_Store
Thumbs.db

# Ignore user-specific files or directories
*.log
*.swp
*.swo
.vscode/

# Ignore virtual environment
venv/
myenv

# secret keys
google-cloud-key.json

# files
__pycache__
.pytest_cache
schedule-tasks/celerybeat-schedule
data-processing/stocks-data
test-sql.sql
tests
todo.txt

# create_schedule_tasks.sh